#cy-primary, #cy-secondary {
    width: 90%;
    height: 70vh;
    border: solid 1px black;
}


#cy-window {
    height: 100%;
    min-height: 100vh;
}

.highlight {
    color: indianred;
    font-weight: bold;
}
